﻿@import url('https://fonts.googleapis.com/css?family=Montserrat');

/*Beginning to the styling of the background*/
html {
    background-color: #002E5D;
}

html, body {
    height: 80.6%;
    margin: 0;
    font-family: 'Montserrat', Arial, sans-serif;
}

#main-content {
    padding: 2rem 3rem;
    min-height: 75vh;
    background-color: white;
    position: relative;
}

/*Ending to the styling of the background*/

/* Begin header style */
#siteName {
    font-family: 'Museo Slab 300';
    text-decoration: none;
    color: white;
    font-size: 2rem;
    position: relative;
    top: .3rem;
    left: 1rem;
}

#siteNameAnchor,
#siteNameAnchor:hover,
#siteNameAnchor:focus,
#siteNameAnchor:active,
#siteNameAnchor:visited {
    text-decoration: none;
}

header {
    /*background-image: url("/Core/Images/byu-header-bg.svg");*/
    /*background-size: 100% 100%;*/
    background-color: #002E5D;
    overflow: hidden;
    padding: 1rem;
    color: white;
    min-height: 5.5rem;
}

#homeSearch {
    border: none;
    height: 2.7rem;
    padding-left: 1rem;
    margin-top: .4rem;
    width: 12rem;
    color: #333;
}

.btn-header {
    border: none;
    height: 2.7rem;
    margin-top: .4rem;
    background: #808080;
}

    .btn-header:hover {
        background: #606060;
    }

#BYU-Logo {
    height: 3.5rem;
}

#logoChild {
    width: 80%;
    margin: auto;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

#social-media img {
    padding: 10px;
}

#logout-menu {
    top: 3rem;
    left: 41rem;
}

.form-byu-search:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

#searchContainer {
    position: absolute;
    top: 1rem;
    width: 100%;
}

/* End header style */

/*Beginning to the styling of the navigation bar*/
.navbar {
    padding: 0;
    border: none;
    border-radius: 0;
    margin-bottom: 0;
}

.navbar-byu {
    /*border-top: 1px solid #3d6394;*/
    border-bottom: 1px solid #ccc;
    background-color: white;
    min-height: 35px;
    color: #002E5D;
    font-weight: 300;
    font-size: 15px;
}

#navbar-collapse-byu > ul > li > a {
    color: #002E5D;
}

#navbar-collapse-byu > ul > li > ul > li > a:hover {
    color: #002E5D;
}

#navbar-collapse-byu a:hover {
    background-color: #dddddd;
}

#navbar-collapse-byu .nav .open > a,
#navbar-collapse-byu .nav .open > a:focus,
#navbar-collapse-byu .nav .open > a:hover {
    background-color: #dddddd;
}

    #navbar-collapse-byu .nav .open > a:visited {
        background: #eeeeee;
    }

#navigation-container a {
    z-index: 10;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    background-color: white;
    color: #003366 !important;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.navbar-nav > li > .dropdown-menu {
    border-top-color: #011949;
}

.nav > li > a {
    padding: 10px 20px;
    color: #002E5D;
}

    .nav > li > a:hover,
    .nav .open > a:focus,
    .nav .open > a:hover {
        background-color: #dddddd;
        color: #002E5D;
    }

    .nav > li > a:focus,
    .nav > li > a:active,
    .nav > li > a:visited {
        background-color: #dddddd;
    }

#menuTitle {
    display: none;
}

#navLogWrapper {
    position: absolute;
    right: 10%;
    top: 10px;
}

    #navLogWrapper ul.dropdown-menu {
        right: 0;
        left: auto;
    }

.tabTitle {
    width: 15rem;
    text-align: center;
}

/*Ending to the styling of the navigation bar*/

/*Beginning to the styling of the dropdown menu*/
.list {
    line-height: 40px;
    color: #002957 !important;
    padding-left: 20px;
    display: block;
}

    .list:hover {
        border-top-width: 0;
        text-decoration: none;
        padding-left: 20px;
        color: white !important;
    }

#mainNav > li > ul > div > li:hover {
    background-color: #011949;
}

.dropdown-menu > div > li:hover {
    background-color: #d1e4f6;
}

.dropdown-byu {
}

    .dropdown-byu ul {
        padding: 0;
    }

.col {
    display: inline;
    float: left;
}

.menu1 {
    min-width: 614px;
    min-height: 390px !important;
    /*box-shadow: 0 3px 5px rgba(0,0,0,.175)!important;*/
    margin-left: -1px;
    background-color: white !important;
}

.feature {
    color: #002957 !important;
}

/*Ending to the styling of the dropdown menu*/
/*Beggining to the styling of the side nav bars*/
.side-nav {
    color: #002E5D;
    font-size: 16px;
    border-right: 1px solid #ccc;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.side-nav ul, .side-nav ul li {
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.side-nav a {
    color: #002E5D;
}
.side-nav a:hover, .highlight a:hover {
    color: gray !important;
    text-decoration: none;
}
.highlight {
    color: lightblue !important;
}
.main-content-container {
    left: 26%;
    position:absolute;
}
/*Ending to the styling of side nav bars*/
/*Beginning to the styling of the footer*/
footer {
    padding: 2rem;
    height: 10rem;
    color: white;
    font-family: 'Montserrat';
    font-weight: 500;
    width: 100%;
    background-color: #002E5D;
}
/*Beginning to the styling of the footer*/

/*Beginning to the styling of the sidebar*/
.sidebarLink {
    text-decoration: none;
    color: #002957;
}

    .sidebarLink:link,
    .sidebarLink:visited,
    .sidebarLink:hover,
    .sidebarLink:active {
        text-decoration: none;
        color: #002957;
    }

/*Ending to the styling of the sidebar*/

/*Begin slideshow styles*/

#slideshow-wrap {
    display: block;
    max-width: 100%;
    border: 12px black solid;
    box-shadow: 0 5px rgba(0,0,0,.8);
    margin-top: 20px;
    position: relative;
}

#slideshow-inner {
    width: 100%;
    background-color: rgb(0,0,0);
    overflow: hidden;
    position: relative;
    padding-bottom: 5px;
}

    #slideshow-inner > ul > li > img {
        margin: auto;
        width: 100%;
    }

#slideshow-wrap input[type=radio] {
    position: absolute;
    left: 50%;
    bottom: 15px;
    z-index: 100;
    visibility: hidden;
}

#slideshow-wrap label:not(.arrows):not(.show-description-label) {
    z-index: 100;
    cursor: pointer;
    transition: background-color .2s;
}

#slideshow-wrap label:not(.arrows):active {
    bottom: -46px;
}

#slideshow-wrap input[type=radio]#button-1:checked ~ label[for=button-1] {
    background-color: rgba(100,100,100,1);
}

#slideshow-wrap input[type=radio]#button-2:checked ~ label[for=button-2] {
    background-color: rgba(100,100,100,1);
}

#slideshow-wrap input[type=radio]#button-3:checked ~ label[for=button-3] {
    background-color: rgba(100,100,100,1);
}

#slideshow-wrap input[type=radio]#button-4:checked ~ label[for=button-4] {
    background-color: rgba(100,100,100,1);
}

#slideshow-wrap input[type=radio]#button-5:checked ~ label[for=button-5] {
    background-color: rgba(100,100,100,1);
}

#slideshow-wrap input[type=radio]#button-6:checked ~ label[for=button-6] {
    background-color: rgba(100,100,100,1);
}

#slideshow-wrap input[type=radio]#button-7:checked ~ label[for=button-7] {
    background-color: rgba(100,100,100,1);
}

#slideshow-wrap input[type=radio]#button-1:checked ~ #slideshow-inner > ul {
    left: 0;
}

#slideshow-wrap input[type=radio]#button-2:checked ~ #slideshow-inner > ul {
    left: -100%;
}

#slideshow-wrap input[type=radio]#button-3:checked ~ #slideshow-inner > ul {
    left: -200%;
}

#slideshow-wrap input[type=radio]#button-4:checked ~ #slideshow-inner > ul {
    left: -300%;
}

#slideshow-wrap input[type=radio]#button-5:checked ~ #slideshow-inner > ul {
    left: -400%;
}

#slideshow-wrap input[type=radio]#button-6:checked ~ #slideshow-inner > ul {
    left: -500%;
}

#slideshow-wrap input[type=radio]#button-7:checked ~ #slideshow-inner > ul {
    left: -600%;
}

.carousel-inner {
    background: black;
}

    .carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
        max-width: 100%;
    }

.carousel-innerBody > .item > a > img, .carousel-innerBody > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
    max-width: 100%;
}

.carousel-fade .carousel-inner .item {
    opacity: 0;
    transition: opacity 1s;
    height: 50rem;
}

.carousel-fade .carousel-innerBody .item {
    opacity: 0;
    transition: opacity 1s;
}

.carousel-fade .carousel-inner .active {
    opacity: 1;
    display: flex;
}

.carousel-fade .carousel-innerBody .active {
    opacity: 1;
    display: flex;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
    display: flex;
}

.carousel-fade .carousel-innerBody .next.left,
.carousel-fade .carousel-innerBody .prev.right {
    opacity: 1;
    display: flex;
}

li.active {
    display: inline-block !important;
}

.load-slideshow .item {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
    height: 400px !important;
    max-width: 100%;
}

#carousel-items {
    padding-right: 0;
    padding-left: 0;
    margin: 0;
    box-shadow: 0 5px 15px -3px #A3A3A3;
}

.carousel-indicators li {
    border-radius: 0 !important;
    background-color: #a8aeb3 !important;
    width: 16px !important;
    height: 16px !important;
    margin-top: 20px !important;
    margin-left: 5px !important;
    border-color: transparent !important;
}

.carousel-indicatorsBody li {
    border-radius: 0 !important;
    background-color: #a8aeb3 !important;
    width: 16px !important;
    height: 16px !important;
    margin-top: 20px !important;
    margin-left: 5px !important;
    border-color: transparent !important;
}

.carousel-indicators .active {
    background-color: #147 !important;
    border-radius: 0 !important;
    width: 16px !important;
    height: 16px !important;
    margin-top: 15px !important;
    margin-bottom: 1px !important;
    margin-left: 5px !important;
    border-color: transparent !important;
}

.carousel-indicatorsBody .active {
    background-color: #147 !important;
    border-radius: 0 !important;
    width: 16px !important;
    height: 16px !important;
    margin-top: 15px !important;
    margin-bottom: 1px !important;
    margin-left: 5px !important;
    border-color: transparent !important;
}

.news-item {
    padding: 2rem 3rem;
    background-color: rgba(255, 255, 255, 0.75);
    height: 30rem;
    width: 70rem;
    position: absolute;
    top: 10rem;
    right: 10rem;
}

    .news-item h2 {
        font-family: 'Museo Slab 500';
        font-size: 4rem;
    }

    .news-item a,
    .news-item a:hover,
    .news-item a:active,
    .news-item a:focus,
    .news-item a:visited {
        color: #333 !important;
        text-decoration: none !important;
    }

    .news-item p {
        font-size: 2rem;
    }

.carousel-caption {
    position: relative;
    z-index: 10;
    padding-top: 0;
    padding-bottom: 0;
    color: #000;
    text-align: center;
    text-shadow: none;
}

.carousel-indicators {
    bottom: 0 !important;
}

.carousel-indicatorsBody {
    border-top: 1px solid #a8aeb3;
}

.carousel-inner > .item > .col-md-9 {
    text-align: center;
}

    .carousel-inner > .item > .col-md-9 > img {
        margin: 0 auto;
        height: 500px !important;
        max-width: 100%;
    }

.carousel-innerBody > .item > img {
    margin: 0 auto;
}

/*End slideshow styles*/

/*Styling of Bootstrap Elements*/

.btn-byu {
    color: white;
    background: linear-gradient(#608aba, #3a6697) !important;
    border: none;
    border-radius: 16px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

    .btn-byu:focus, .btn-byu:active {
        outline: none !important;
        background: linear-gradient(#608aba, #3a6697);
        color: white !important;
    }

    .btn-byu:hover {
        color: white;
    }

.input-group-btn .btn-byu {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    padding-left: 2.5rem;
}

.form-byu-search {
    border-radius: 1.5rem !important;
    z-index: 3 !important;
    margin-right: -1.5rem;
    border: none;
    height: 32px;
}

.main-content-document-add-on {
    border-radius: 0;
    box-shadow: none;
}

.navbar-toggle .icon-bar {
    background-color: white !important;
}

.hamburger {
    position: relative;
    left: 3rem;
}

@media only screen and (max-width: 767px) {
    header {
        padding-top: 1rem;
        padding-left: 0 !important;
        height: 3rem;
    }

    .navbar-byu {
        min-height: 0;
        border: none;
    }

    .carousel-inner {
        top: 0;
    }

    .hamburger {
        top: -.6rem;
    }

    #searchContainer {
        position: relative;
        top: 0;
        height: 4rem;
    }

    #homeSearch {
        border: none;
        height: 4rem;
        padding-left: 2rem;
        width: 100vw;
        color: #333;
        position: absolute;
        left: -1rem;
        margin-top: 0;
        border: solid 1px #ccc;
    }

    .btn-header {
        height: 4rem;
        width: 5rem;
        margin-top: 0;
        background: #808080;
        color: white;
        position: absolute;
        right: 0;
        z-index: 1;
    }

    .navbar-nav {
        margin-top: 0;
        margin-bottom: 0;
    }

    .tabTitle {
        width: 100%;
        text-align: left;
        padding-left: 1rem;
    }

    body > footer > div:nth-child(1) > center > a > img {
        max-width: 90vw;
    }

    .news-item p {
        font-size: 3.7vw;
    }

    .news-item h2 {
        font-size: 7vw;
    }
    
}

@media only screen and (max-width: 991px) {
    .news-item {
        padding: 2rem 3rem;
        min-width: 80vw;
        position: relative;
        top: 8rem;
        margin: auto;
        right: auto;
    }
}