﻿/*Beginning to the styling of the background*/
html, body {
    height: 80.6%;
    margin: 0;
    background-image: url("background.jpg");
    background-color: #f2f2f2;
}

#main-content {
    width: 1517.58px;
    padding-bottom:20px;
    padding-top: 0px;
    font-family: museo-sans;
    font-size: 16px;
    min-height: 100%;
    background-color: #ffffff;
    box-shadow: 0px 5px 50px #d9d9d9;
}
/*Ending to the styling of the background*/

/*Beginning to the styling of the header*/
#pageName:link {
    text-decoration: none;
    color:white;
}

#pageName:visited {
    text-decoration: none;
    color:white;
}

#pageName:hover {
    text-decoration: none;
    color:white;
}

#pageName:active {
    text-decoration: none;
    color:white;
}

#logo {
    background-image: url("backgroundLogo.png");
    background-size:100% 100%;
    background-color: #012257;
    overflow: hidden;
    padding-top: 1%;
    padding-bottom: 1%;
    color:white;
    height: 140px;
}

#logoChild{
    width:80%;
    margin:auto;
}

h1,h2, h3, h4, h5, h6 {
    margin: 0px;
}

#social-media img {
    padding:10px;
}
/*Ending to the styling of the header*/

/*Begin slideshow styles*/

#slideshow-wrap {
    display: block;
    max-width: 100%;
    border: 12px black solid;
    box-shadow: 0px 0px 5px rgba(0,0,0,.8);
    margin-top: 20px;
    position: relative;
}

#slideshow-inner {
    width: 100%;
    background-color: rgb(0,0,0);
    overflow: hidden;
    position: relative;
    padding-bottom: 5px;
}

#slideshow-inner>ul>li>img {
    margin: auto;
    width:100%;
}

#slideshow-wrap input[type=radio] {
    position: absolute;
    left: 50%;
    bottom: 15px;
    z-index: 100;
    visibility: hidden;
}

#slideshow-wrap label:not(.arrows):not(.show-description-label) {
    z-index: 100;
    cursor: pointer;
    transition: background-color .2s;
}

#slideshow-wrap label:not(.arrows):active { bottom: -46px }

#slideshow-wrap input[type=radio]#button-1:checked~label[for=button-1] { background-color: rgba(100,100,100,1) }

#slideshow-wrap input[type=radio]#button-2:checked~label[for=button-2] { background-color: rgba(100,100,100,1) }

#slideshow-wrap input[type=radio]#button-3:checked~label[for=button-3] { background-color: rgba(100,100,100,1) }

#slideshow-wrap input[type=radio]#button-4:checked~label[for=button-4] { background-color: rgba(100,100,100,1) }

#slideshow-wrap input[type=radio]#button-5:checked~label[for=button-5] { background-color: rgba(100,100,100,1) }

#slideshow-wrap input[type=radio]#button-6:checked~label[for=button-6] { background-color: rgba(100,100,100,1) }

#slideshow-wrap input[type=radio]#button-7:checked~label[for=button-7] { background-color: rgba(100,100,100,1) }

#slideshow-wrap input[type=radio]#button-1:checked~#slideshow-inner>ul { left: 0 }

#slideshow-wrap input[type=radio]#button-2:checked~#slideshow-inner>ul { left: -100% }

#slideshow-wrap input[type=radio]#button-3:checked~#slideshow-inner>ul { left: -200% }

#slideshow-wrap input[type=radio]#button-4:checked~#slideshow-inner>ul { left: -300% }

#slideshow-wrap input[type=radio]#button-5:checked~#slideshow-inner>ul { left: -400% }

#slideshow-wrap input[type=radio]#button-6:checked~#slideshow-inner>ul { left: -500% }

#slideshow-wrap input[type=radio]#button-7:checked~#slideshow-inner>ul { left: -600% }

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    max-width: 100%;
}

.carousel-innerBody>.item>a>img, .carousel-innerBody>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    max-width: 100%;
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition: opacity 1s;
}

.carousel-fade .carousel-innerBody .item {
  opacity: 0;
  transition: opacity 1s;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
  display:flex;
}

.carousel-fade .carousel-innerBody .active {
  opacity: 1;
  display:flex;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
  display:flex;
}

.carousel-fade .carousel-innerBody .next.left,
.carousel-fade .carousel-innerBody .prev.right {
  opacity: 1;
  display:flex;
}

li.active {
    display:inline-block!important;
}

.load-slideshow .item {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
    height: 400px !important;
    max-width: 100%;
}

#carousel-items {
    padding-right: 0px;
    padding-left: 0px;
    margin:0;
    -webkit-box-shadow: 0px 5px 15px -3px #A3A3A3;
}

.carousel-indicators li {
    border-radius: 0px !important;
    background-color:#a8aeb3 !important;
    width: 16px !important;
    height: 16px !important;
    margin-top: 20px !important;
    margin-left: 5px !important;
    border-color: transparent !important;
}

.carousel-indicatorsBody li {
    border-radius: 0px !important;
    background-color:#a8aeb3 !important;
    width: 16px !important;
    height: 16px !important;
    margin-top: 20px !important;
    margin-left: 5px !important;
    border-color: transparent !important;
}

.carousel-indicators .active {
    background-color: #147 !important;
    border-radius: 0px !important;
    width: 16px !important;
    height: 16px !important;
    margin-top: 15px !important;
    margin-bottom: 1px !important;
    margin-left: 5px !important;
    border-color: transparent !important;
}

.carousel-indicatorsBody .active {
    background-color: #147 !important;
    border-radius: 0px !important;
    width: 16px !important;
    height: 16px !important;
    margin-top: 15px !important;
    margin-bottom: 1px !important;
    margin-left: 5px !important;
    border-color: transparent !important;
}

.news-item {
    padding: 10px 25px;
    background-color: #e0edf9;
    border-left: 1px solid #e0edf9;
    box-shadow: 0px 5px 15px -3px #A3A3A3;
}

.carousel-caption {
    position: relative;
    z-index: 10;
    padding-top: 0;
    padding-bottom: 0;
    color: #000;
    text-align: center;
    text-shadow: none;
}

.carousel-indicators {
    border-top: 1px solid #a8aeb3;
}

.carousel-indicatorsBody {
    border-top: 1px solid #a8aeb3;
}

.carousel-inner > .item > .col-md-9 {
    text-align:center;
}

.carousel-inner > .item > .col-md-9 > img {
    margin: 0 auto;
    height: 500px !important;
    max-width: 100%;
}

.carousel-innerBody > .item > img {
    margin: 0 auto;
}

/*End slideshow styles*/

/* Google search styles */
#___gcse_0 {
    width: 300px;
    background-color: transparent;
    height: 30px;
    float:left;
}

#gs_tti50 {
    background-color:white !important;
}

.gsc-control-cse {
    font-family: Arial, sans-serif;
    border-color: transparent !important;
    background-color: transparent !important;
}

.gsc-control-cse, .gsc-control-cse-en {
    padding: 0px !important;
}

.cse .gsc-search-button input.gsc-search-button-v2, input.gsc-search-button-v2 {
    width: auto !important;
    height: auto !important;
    border-color: #474747;
    background-color: #474747;
    background-image: none;
    filter: none;
}

.gsc-input {
    background-color: white;
}

input.gsc-input{background: rgb(255, 255, 255)!important;}

.gsc-input-box, .gsc-input-box:focus {
    border: none !important;
}

.gsc-input-box-hover, .gsc-input-box-focus {
    border:none !important;
    box-shadow: none !important;
}

.gs-title {
    color: blue !important;
}
.gs-title a:hover {
    background-color: white !important;
    text-decoration: underline !important;
}
.gsc-table-result, .gsc-thumbnail-inside, .gsc-url-top {
    padding-left: 0px !important;
    padding-right: 8px;
}
/* End Google search styles */

/*Beginning to the styling of the navigation bar*/
.navbar {
    padding: 0px;
    border: none;
    border-radius: 0px;
    margin-bottom: 0px;
}

#navigation-container {
    border-style: solid;
    border-top-color: #3d6394;
    border-right-color: #011949;
    border-left-color: #011949;
    border-bottom-color: #011949;
    border-top-width: 1px;
    background-color: #011949;
}

#navigation-container a {
    color: white;
    font-family: Ebrima;
    font-weight: 300;
    font-size:18px;
    z-index: 10;
}

.tabTitle:hover {
    background: linear-gradient(#003366, #002356);
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background-color: white;
    color:#003366!important;
    border-top-right-radius:10px;
    border-top-left-radius:10px;
}

.navbar-nav > li > .dropdown-menu {
    border-top-color: white;
}

.nav>li>a {
    padding: 15px 52px;
}

.navbar-collapse {
    width: 1517.58px;
    margin: auto;
    padding-left: 0px;
    padding-right: 0px;
}

#menuTitle {
    display:none;
}

#navLogWrapper{
    position: absolute;
    right:10%;
    top:10px;
    width: 25%;
}

#navLogWrapper ul.dropdown-menu{
    right:0;
    left:auto;
}
/*Ending to the styling of the navigation bar*/

/*Beginning to the styling of the dropdown menu*/
.list {
    line-height:40px;
    color:#002957!important;
    padding-left:20px;
    display: block;
}

.list:hover {
    border-top-width:0px;
    text-decoration:none;
    padding-left:20px;
}

.dropdown-menu > div > li:hover {
    background-color:#d1e4f6;
}

.menu1 {
    width: 614px;
    height: 390px!important;
    box-shadow: 0 3px 5px rgba(0,0,0,.175)!important;
    margin-left: -1px;
    background-color: white!important;
}

.feature {
    color:#002957!important;
}
/*Ending to the styling of the dropdown menu*/

/*Beginning to the styling of the footer*/
footer {
    padding-top: 20px;
    padding-bottom: 25px;
    min-height: 150px;
    color: #7F8081;
    font-family: mueso-sans;
    font-weight:500;
    width: 100%;
    position: relative;
    bottom: 0px;
}
/*Beginning to the styling of the footer*/

/*Beginning to the styling of the sidebar*/
.sidebarLink {
    text-decoration: none;
    font-family: Ebrima;
    color:#002957;
}

.sidebarLink:link {
    text-decoration: none;
    font-family: Ebrima;
    color:#002957;
}

.sidebarLink:visited {
    text-decoration: none;
    font-family: Ebrima;
    color:#002957;
}

.sidebarLink:hover {
    text-decoration: none;
    font-family: Ebrima;
    color:#002957;
}

.sidebarLink:active {
    text-decoration: none;
    font-family: Ebrima;
    color:#002957;
}
/*Ending to the styling of the sidebar*/

@media (max-width:1517.58px){
    /*Beginning to the styling of the background*/
    #main-content {
        width: 1217px;
        padding-bottom:20px;
        padding-top: 0px;
        font-family: museo-sans;
        font-size: 16px;
        min-height: 100%;
        background-color: #ffffff;
        box-shadow: 0px 5px 50px #d9d9d9;
    }
    /*Ending to the styling of the background*/

    /*Beginning to the styling of the navigation bar*/
    .nav>li>a {
        padding: 15px 29px;
    }

    .navbar-collapse {
        width: 1196.8px;
        margin: auto;
        padding-left: 0px;
        padding-right: 0px;
    }
    /*Ending to the styling of the navigation bar*/
}

@media (max-width:1217px) {
    /*Beginning to the styling of the dropdown menu*/
    .menu1 {
        height: 300px!important;
    }
    /*Ending to the styling of the dropdown menu*/

    /*Beginning to the styling of the navigation bar*/
    .navbar-toggle {
        color: white;
        float: left;
    }

    .navbar-default, .navbar-toggle {
        border: none;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
		background: linear-gradient(#003366, #002356);
	}

    #menuButton {
        margin-left:10%;
    }

    #menuTitle {
        display:block;
        color: white;
        font-family: Ebrima;
        font-weight: 300;
        font-size: 18px;
        height: 51px;
        z-index: 10;
        padding-top:12px;
    }
    /*Ending to the styling of the navigation bar*/

    /*Beginning to the styling of the dropdown menu*/
    .navbar-collapse {
        width: 980px;
        margin: auto;
        padding-left: 0px;
        padding-right: 0px;
    }

    #myNavbar{
        position:absolute;
        z-index: 1;
    }

    .navbar-collapse.collapse {
        display: none!important;
    }

    .navbar-collapse.in {
        display: block!important;
    }

    .navbar-nav>li {
        float: none;
    }

    #mainNav {
		height: 357px;
		background-color: #011949;
        width: 50%;
        margin-left:0;
	}

    ul.dropdown-menu{
        float: none;
        width: auto;
        margin-top: 0;
        border: 0;
    }

    .innerMenu {
        display:none;
    }
    /*Ending to the styling of the dropdown menu*/

    /*Beginning to the styling of the background*/
	#main-content {
        width: 980px;
        padding-bottom:20px;
        padding-top: 0px;
        font-family: museo-sans;
        font-size: 16px;
        min-height: 100%;
        background-color: #ffffff;
        box-shadow: 0px 5px 50px #d9d9d9;
    }
	/*Ending to the styling of the background*/
}

@media (max-width: 991px) {
    /*Beginning to the styling of the background*/
    #main-content {
        width: 100%;
        padding-bottom:20px;
        padding-top: 0px;
        font-family: museo-sans;
        font-size: 16px;
        min-height: 100%;
        background-color: #ffffff;
        box-shadow: 0px 5px 50px #d9d9d9;
    }
    /*Ending to the styling of the background*/

    /*Beginning to the styling of the header*/
    header img {
        float: left;
    }
    /*Ending to the styling of the header*/

    /*Beginning to the styling of the dropdown menu*/
    #myNavbar{
        border-top-width: 0px;
    }
    #mainNav {
        margin-top: 0px;
    }
    /*Ending to the styling of the dropdown menu*/
    ul.dropdown-menu{
        position: absolute!important;
        background-color: white!important;
    }
}

@media (max-width: 760px) {
    /*Beginning to the styling of the header*/
    #social-media {
        position:absolute;
        right:140px;
        top:79px;
    }

    #logoChild {
        width:100%;
        margin:auto;
    }
    /*Ending to the styling of the header*/

    /*Beginning to the styling of the navigation bar*/
    #navLogWrapper{
        position: absolute;
        right:10%;
        top:60px;
    }
    /*Ending to the styling of the navigation bar*/

    /*Beginning to the styling of the dropdown menu*/
    #mainNav {
        width:100%;
    }

    #myNavbar{
        width:100%;
    }
    /*Ending to the styling of the dropdown menu*/
}

@media (max-width: 480px) {
    /*Beginning to the styling of the header*/
    #logo{
        height: 170px;
    }

    #social-media {
        top:110px;
    }
    /*Ending to the styling of the header*/

    /*Beginning to the styling of the navigation bar*/
    #navLogWrapper{
        top:90px;
    }
    /*Ending to the styling of the navigation bar*/
}