﻿<!--<div class="col-md-12">
    <center>
        <a href="https://www.byu.edu/">
            <img src="~/Core/Images/wordmark-inline.svg" alt="Brigham Young University" style="height: 4rem;" />
        </a>
    </center>
</div>
<div class="col-md-12">
    <center>
        <p>&copy; 2017, All Rights Reserved | Provo, UT 84602, USA | College of Family, Home, and Social Sciences</p>
    </center>
</div>-->

<div class="byu2016-footer-div">
    <div class="byu2016-footer-div-byu">
        <div class="byu2016-footer-byu-logo">
            <a href="http://byu.edu/">
                <img src="~/Core/Images/wordmark-inline.svg" />
            </a>
        </div>
        <div class="byu2016-footer-byu-logo-stacked">
            <a href="http://byu.edu/">
                <img src="~/Core/Images/wordmark-staked.svg" />
            </a>
        </div>
        <div class="byu2016-footer-byu-copyright">
            <span id="byu2016-footer-copyright">© 2017, All Rights Reserved&nbsp;&nbsp;| &nbsp;Provo,&nbsp;UT&nbsp;84602,&nbsp;USA&nbsp;&nbsp;|&nbsp;&nbsp;1‑801‑422‑4636</span>
        </div>
    </div>
</div>
