﻿<nav class="navbar byu2016-header-desktop">
    <div class="container byu2016-header-desktop-container">

        <!-- ================= BYU LOGO + SITE TITLE ================= -->
        <div class="byu2016-header-desktop-site">
            <div class='logo-container'><a href='http://webcommunity.byu.edu/'><img class='site-logo' alt='BYU' src='/Core/Images/byu.svg'></a></div><div class='title-container'><a href='http://localhost:53579/' class='title-container-flex'><div class='site-name'>SCE Development</div></a></div>
        </div>

        <div class="byu2016-header-desktop-menu-search">

            <!-- ================= DESKTOP USER MENU ================= -->
            <ul class="nav navbar-nav byu2016-header-desktop-menu">
                @Html.Partial("_Navigation")
            </ul>

            <!-- ================= DESKTOP SEARCH FORM ================= -->
            <div class="byu2016-header-desktop-search">
                    <form action="/Search" class="byu2016-search-form">
                        <input type="search" name="q" placeholder="Search" class="pull-right byu2016-search-text" />
                        <button type="submit" id="homeSearchButton" class="byu2016-search-button"><span class="glyphicon glyphicon-search"></span></button>
                    </form>
            </div>
        </div>

    </div>
</nav>

<script src="/Core/Scripts/Navigation/loadNavigation.js"></script>
<nav class="navbar byu2016-main-menu-desktop" role="navigation" id="nav">

    <div class="container byu2016-main-menu-desktop-container">

        <!-- Collect the nav links, forms, and other content for toggling -->
        <ul class="nav navbar-nav byu2016-main-menu-desktop-menu" id="mainNav"></ul>
    </div><!-- navbar-collapse -->
</nav>

<!-- ========================================== -->
<!-- ============= START MOBILE =============== -->
<!-- ========================================== -->

    <nav class="navbar byu2016-header-mobile">
    <div class="container byu2016-header-mobile-container">
        <!-- ================= BYU LOGO + SITE TITLE ================= -->
        <div class="byu2016-header-mobile-site">
            <div class='logo-container'><a href='http://webcommunity.byu.edu/'><img class='site-logo' alt='BYU' src='/Core/Images/byu.svg'></a></div><div class='title-container'><a href='http://webcommunity.byu.edu/' class='title-container-flex'><div class='site-name'>SCE Development</div></a></div>
        </div>
        
        <div class="byu2016-header-mobile-menu-button">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#byu2016-mobile-menu-collapse" aria-expanded="false">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </button>
        </div>
        <div class="byu2016-header-mobile-search">
            <form action="/Search" class="byu2016-search-form">
                <input type="search" name="q" placeholder="Search" class="pull-right byu2016-search-text" />
                <button type="submit" id="homeSearchButton" class="byu2016-search-button"><span class="glyphicon glyphicon-search"></span></button>
            </form>
        </div>
    </div>
</nav>
<nav class="navbar byu2016-combined-menu-mobile">
    <div class="container byu2016-header-mobile-menu">
        <div class="collapse navbar-collapse" id="byu2016-mobile-menu-collapse">
            <ul class="nav navbar-nav byu2016-header-mobile-combined-menu" id="mainNavMobile">
                @Html.Partial("_Navigation")
            </ul>
        </div>
    </div>
</nav>




<script>
        // Determines login button based on current authentication status //
        var url = window.location.href; // Gets the location url of current page
        $.getJSON("/api/Auth/userName/5", function (data) {
            if (data) {
                    $(".loginLink").hide();
                    $(".adminMenu").show();
            }
            else {
                    $(".adminMenu").hide();
                    $(".loginLink").show();

            }
        });
</script>