﻿<li class='menu-parent user-menu loginLink'><a href='~/Login/Login.aspx?ReturnURL=@Request.Url.OriginalString'><i class="fa fa-user-circle-o" aria-hidden="true"></i>SIGN IN</a></li>
<li class="dropdown menu-parent user-menu adminMenu" style="display:none;">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id=""><i class="fa fa-user-circle-o" aria-hidden="true"></i>Admin <span class="caret"></span></a>
    <ul class="dropdown-menu dropdown-menu-right">
        <li class="dropdown-header">Page Manager</li>
        <li><a href="~/Main/NewPage">Create a Page</a></li>
        <li><a href="~/Main/PageManager">View Pages</a></li>
        <li role="separator" class="divider"></li>
        <li class="dropdown-header">Navigation and Slideshow</li>
        <li><a href="~/Main/EditNavigation">Edit Navigation</a></li>
        <li><a href="~/Main/EditSlideshow">Edit Slideshow</a></li>
        <li role="separator" class="divider"></li>
        @*<li role="separator" class="divider"></li>*@
        <li class="dropdown-header">Lists</li>
        <li><a href="~/Main/Lists">List Manager</a></li>
        <li><a href="~/Main/Blogs">Blog Manager</a></li>
        <li role="separator" class="divider"></li>
        <li class="dropdown-header">Other actions</li>
        <li><a href="~/Main/Documents">File Manager</a></li>
        <li><a href="~/Main/ViewSubsites">Subsites</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="http://scedocumentation.byu.edu">Help</a></li>
        <li><a href="~/Logout/Logout.aspx?ReturnUrl=@Request.Url.OriginalString">Sign out</a></li>
    </ul>
</li>