﻿<!--

$$$$$$$\ $$\     $$\ $$\   $$\       $$$$$$$\                                      $$$$$$$$\                                $$\            $$\
$$  __$$\\$$\   $$  |$$ |  $$ |      $$  __$$\                                     \__$$  __|                               $$ |           $$ |
$$ |  $$ |\$$\ $$  / $$ |  $$ |      $$ |  $$ | $$$$$$\   $$$$$$$\  $$$$$$\           $$ | $$$$$$\  $$$$$$\$$$$\   $$$$$$\  $$ | $$$$$$\ $$$$$$\    $$$$$$\
$$$$$$$\ | \$$$$  /  $$ |  $$ |      $$$$$$$\ | \____$$\ $$  _____|$$  __$$\          $$ |$$  __$$\ $$  _$$  _$$\ $$  __$$\ $$ | \____$$\\_$$  _|  $$  __$$\
$$  __$$\   \$$  /   $$ |  $$ |      $$  __$$\  $$$$$$$ |\$$$$$$\  $$$$$$$$ |         $$ |$$$$$$$$ |$$ / $$ / $$ |$$ /  $$ |$$ | $$$$$$$ | $$ |    $$$$$$$$ |
$$ |  $$ |   $$ |    $$ |  $$ |      $$ |  $$ |$$  __$$ | \____$$\ $$   ____|         $$ |$$   ____|$$ | $$ | $$ |$$ |  $$ |$$ |$$  __$$ | $$ |$$\ $$   ____|
$$$$$$$  |   $$ |    \$$$$$$  |      $$$$$$$  |\$$$$$$$ |$$$$$$$  |\$$$$$$$\          $$ |\$$$$$$$\ $$ | $$ | $$ |$$$$$$$  |$$ |\$$$$$$$ | \$$$$  |\$$$$$$$\
\_______/    \__|     \______/       \_______/  \_______|\_______/  \_______|         \__| \_______|\__| \__| \__|$$  ____/ \__| \_______|  \____/  \_______|
                                                                                                                  $$ |
                                                                                                                  $$ |
                                                                                                                  \__|

    for MVC
    By: Josh Sorensen
-->

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link type="text/css" rel="stylesheet" href="//cloud.typography.com/75214/6517752/css/fonts.css" media="all" />
    <link type="text/css" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" media="all" />
    <link type="text/css" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" media="all" />
    <link type="text/css" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" media="all" />
    <link rel="stylesheet" href="@Url.Content("~/Core/Styles/style.css")" />

    <script src="@Url.Content("~/Scripts/jquery-2.1.1.min.js")"></script>
    <script src="@Url.Content("~/Bootstrap/js/bootstrap.min.js")"></script>
    <script src="https://fhssutils.byu.edu/tinymce/js/tinymce/tinymce.min.js"></script>
    <script src="@Url.Content("~/Core/Scripts/loadAdmin.js")"></script>

    <link rel='shortcut icon' href='http://webcommunity.byu.edu/themes/byu2016/sites/default/favicon.ico' type='image/x-icon' />
</head>
<body>
    <div id="page">
        <header id="header" class="header byu2016-top-header">
            @Html.Partial("_Header")
        </header>


        <div id="flex-body">
            <div id="hero">
                <div id="full-length">
                    <div class="content container-fluid" id="main-content">
                        <div class="col-sm-3 side-nav" data-list="@ViewBag.Nav"></div>
                        <div class="main-content-container col-sm-8">@RenderBody()</div>
                    </div>
                </div>
                </div>
            </div>

                <footer class="footer" id="footer">
                    @Html.Partial("_Footer")
                </footer>
            </div>
        <script src="@Url.Content("~/Core/Scripts/Navigation/loadSideNav.js")"></script>
</body>


<script src="@Url.Content("~/plugins/Lists/Scripts/getListData.js")"></script>
</html>
