﻿<!--

$$$$$$$\ $$\     $$\ $$\   $$\       $$$$$$$\                                      $$$$$$$$\                                $$\            $$\
$$  __$$\\$$\   $$  |$$ |  $$ |      $$  __$$\                                     \__$$  __|                               $$ |           $$ |
$$ |  $$ |\$$\ $$  / $$ |  $$ |      $$ |  $$ | $$$$$$\   $$$$$$$\  $$$$$$\           $$ | $$$$$$\  $$$$$$\$$$$\   $$$$$$\  $$ | $$$$$$\ $$$$$$\    $$$$$$\
$$$$$$$\ | \$$$$  /  $$ |  $$ |      $$$$$$$\ | \____$$\ $$  _____|$$  __$$\          $$ |$$  __$$\ $$  _$$  _$$\ $$  __$$\ $$ | \____$$\\_$$  _|  $$  __$$\
$$  __$$\   \$$  /   $$ |  $$ |      $$  __$$\  $$$$$$$ |\$$$$$$\  $$$$$$$$ |         $$ |$$$$$$$$ |$$ / $$ / $$ |$$ /  $$ |$$ | $$$$$$$ | $$ |    $$$$$$$$ |
$$ |  $$ |   $$ |    $$ |  $$ |      $$ |  $$ |$$  __$$ | \____$$\ $$   ____|         $$ |$$   ____|$$ | $$ | $$ |$$ |  $$ |$$ |$$  __$$ | $$ |$$\ $$   ____|
$$$$$$$  |   $$ |    \$$$$$$  |      $$$$$$$  |\$$$$$$$ |$$$$$$$  |\$$$$$$$\          $$ |\$$$$$$$\ $$ | $$ | $$ |$$$$$$$  |$$ |\$$$$$$$ | \$$$$  |\$$$$$$$\
\_______/    \__|     \______/       \_______/  \_______|\_______/  \_______|         \__| \_______|\__| \__| \__|$$  ____/ \__| \_______|  \____/  \_______|
                                                                                                                  $$ |
                                                                                                                  $$ |
                                                                                                                  \__|

    for MVC
    By: Josh Sorensen
-->

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="@Url.Content("~/Bootstrap/css/bootstrap.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Core/Styles/style.css")" />

    <script src="@Url.Content("~/Scripts/jquery-2.1.1.min.js")"></script>
    <script src="@Url.Content("~/Bootstrap/js/bootstrap.min.js")"></script>
    <script src="https://fhssutils.byu.edu/tinymce/js/tinymce/tinymce.min.js"></script>
    <script src="@Url.Content("~/Core/Scripts/adminTesting.js")"></script>


</head>
<body>
    <header class="container-fluid">
        @Html.Partial("_Header")
    </header>

    <nav class="navbar navbar-byu" role="navigation" id="nav">
        @Html.Partial("_Navigation")
    </nav>

    <div class="container" id="main-content">
        @RenderBody()
    </div>

    <footer class="container-fluid">
        @Html.Partial("_Footer")
    </footer>

</body>


</html>
