﻿@{
    Layout = "~/Views/Shared/BYUBase.cshtml";
    ViewBag.Title = "Blog Manager";
}


<style>
    .blog-plugin table tr td, th {
        padding: 10px;
    }
    .modal-dialog {
        width: 900px;
    }
</style>
<script src="~/plugins/Blog/Scripts/BlogPlugin.js"></script>

<div class="blog-plugin"></div>