﻿@{
    Layout = "~/Views/Shared/BYUBase.cshtml";
}


<div class="blog container-fluid"></div>
<script src="~/plugins/Blog/Scripts/getBlogData.js"></script>
<link rel="stylesheet" href="~/plugins/Blog/Styles/BlogStyle.css" />
<script>
    getBlogItems(gup("blog"), function (data) {
        data.splice(0, 1);
        var htmlStr = '';
        for (var i = 0; i < data.length; i++) {
            var publishDate = new Date(data[i].PublishDate);
            var month = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
            var publishDateStr = month[publishDate.getMonth()] + " " + publishDate.getDate() + ", " + publishDate.getFullYear();
            if (i % 3 == 0) {
                htmlStr += '<div class="row">';
                htmlStr += '<div class="post-container col-sm-4">'
                    + '<div class="post">'
                    + '<a href="/Main/BlogPost?id=' + data[i].ID + '&blog=' + gup('blog') + '"><h3 class="post-title">' + data[i].Title + '</h3></a>'
                    + '<a href="/Main/BlogPost?id=' + data[i].ID + '&blog=' + gup('blog') + '"><img src="' + data[i].CaptionImagePath + '" class="blog-preview-image"></a>'
                    + '<p class="body-preview">' + data[i].BodyPreview + '</p><p class="body-preview"><a href="/Main/BlogPost?id=' + data[i].ID + '&blog=' + gup('blog') + '">Continue reading<i class="fa fa-arrow-right"></i></a></p>'
                    + '<div class="post-footer"><p>' + publishDateStr + '</p></div></div></div>'
            }
            else if (i % 3 == 2) {
                htmlStr += '<div class="post-container col-sm-4">'
                    + '<div class="post">'
                    + '<a href="/Main/BlogPost?id=' + data[i].ID + '&blog=' + gup('blog') + '"><h3 class="post-title">' + data[i].Title + '</h3></a>'
                    + '<a href="/Main/BlogPost?id=' + data[i].ID + '&blog=' + gup('blog') + '"><img src="' + data[i].CaptionImagePath + '" class="blog-preview-image"></a>'
                    + '<p class="body-preview">' + data[i].BodyPreview + '</p><p class="body-preview"><a href="/Main/BlogPost?id=' + data[i].ID + '&blog=' + gup('blog') + '">Continue reading<i class="fa fa-arrow-right"></i></a></p>'
                    + '<div class="post-footer"><p>' + publishDateStr + '</p></div></div></div>'
                    + '</div>';
            }
            else {
                htmlStr += '<div class="post-container col-sm-4">'
                    + '<div class="post">'
                    + '<a href="/Main/BlogPost?id=' + data[i].ID + '&blog=' + gup('blog') + '"><h3 class="post-title">' + data[i].Title + '</h3></a>'
                    + '<a href="/Main/BlogPost?id=' + data[i].ID + '&blog=' + gup('blog') + '"><img src="' + data[i].CaptionImagePath + '" class="blog-preview-image"></a>'
                    + '<p class="body-preview">' + data[i].BodyPreview + '</p><p class="body-preview"><a href="/Main/BlogPost?id=' + data[i].ID + '&blog=' + gup('blog') + '">Continue reading<i class="fa fa-arrow-right"></i></a></p>'
                    + '<div class="post-footer"><p>' + publishDateStr + '</p></div></div></div>'
            }  
        }
        $(".blog").html(htmlStr);
    });
    // Gets query string values //
    function gup(name) {
        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
            results = regex.exec(location.search);
        return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }
</script>
