﻿@{
    Layout = "~/Views/Shared/BYUBase.cshtml";
    ViewBag.Title = "Blog Post";
}

<script src="~/plugins/Blog/Scripts/getBlogItem.js"></script>
<div class="blog-post container"></div>
<script>
    getBlogItem(gup("blog"), gup("id"), function (data) {
        var publishDate = new Date(data.PublishDate);
        var modifyDate = new Date(data.PublishDate);
        var month = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
        var weekday = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
        var publishDateStr = weekday[publishDate.getDay()] + ", " + month[publishDate.getMonth()] + " " + publishDate.getDate() + ", " + publishDate.getFullYear();
        var modifyDateStr = weekday[modifyDate.getDay()] + ", " + month[modifyDate.getMonth()] + " " + modifyDate.getDate() + ", " + modifyDate.getFullYear();
        var htmlStr = '<div>'
            + '<h1>' + data.Title + '</h1>'
            + '<div class="ms-metadata">' + publishDateStr + '</div>'
            + '<p></p><hr/>'
            + '<div class="ms-blog-postBody">' + '<p><img src="' + data.CaptionImagePath + '" style="width: 75%;"></p><hr/>'
            + '<p>' + data.Body + '</p></div>'
            + '<p></p><hr/>'
            + '<div class="ms-metadata ms-textSmall">Posted By: ' + data.Author + '<br/>Last Update: ' + modifyDateStr + '</div>';
        $(".blog-post").html(htmlStr);
    });
</script>