﻿@{
    Layout = "~/Views/Shared/BYUBase.cshtml";
}
<script src="~/plugins/Calendar/scripts/cal-frontend.js"></script>

<div id="calendar-container" class="col-md-12">
    <div class="col-sm-4"><h2>Upcoming Events</h2><div id="eventlist"></div></div>
    <div class="col-sm-8" style="padding-top: 4px;"><div class="plugin-calendar" data-calendar-id="b14kcobdrib4r6bonhh1el5mh4@group.calendar.google.com"></div></div>
    <div class="plugin-calendar-addEvent"></div>
</div>