﻿@{
    Layout = "~/Views/Shared/BYUBase.cshtml";
}

<link rel="stylesheet" href="@Url.Content("~/Core/Styles/style.css")" />
<div class="main-content-document-add-on"></div>
<script src="~/plugins/DocumentManagerExt/Client/Scripts/documentmanager.js"></script>
<script src="~/plugins/DocumentManagerExt/Client/Scripts/api.js"></script>