﻿@{
    Layout = "~/Views/Shared/BYUBase.cshtml";
    ViewBag.Title = "List Manager";
}

<style>
    .list-plugin table tr td, th {
        padding: 10px;
    }
</style>
<script src="~/plugins/Lists/Scripts/ListPlugin.js"></script>

<div class="list-plugin"></div>
