﻿@{
    Layout = "~/Views/Shared/BYUBase.cshtml";
}


<h1>You are not authorized to edit this site.</h1>
<script>
    $(document).ready(function () {
        $.getJSON("/api/Auth/Get/5", function (data) {
            if (data) {
                window.location.href = "/Logout/Logout.aspx?ReturnUrl=" + window.location.href;
            }
        });
        setTimeout(function () {
            $("#login-area").html("");
        });
    });
</script>