@{
    Layout = "~/Views/Shared/BYUBase.cshtml";
    ViewBag.Title = "404 - Not Found";
}
<style>
    .error-area {
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
        height: 100%;
        min-height: 600px;
        background-image: url("@Url.Content("~/Core/Images/errorpage.png")");
        background-repeat: no-repeat;
        background-position: center top;
        color: white;
        padding-top: 50px;
        padding-left: 60px;
    }
    
    .error-area > h3 > a:hover {
        color: white;
    }
</style>
<div class="error-area">
    <h1>Looks like you're lost...</h1>
    <h3 style="padding-left: 20px;">You can always come back <a href="/">home</a> though.</h3>
</div>
