﻿@{
    Layout = "~/Views/Shared/BYUBase.cshtml";
}


<h1>Search Results</h1>
<script>
  (function() {
    var cx = '002232587568661181851:2gdlbtkvkuk';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:searchresults-only></gcse:searchresults-only>