@{
    Layout = "~/Views/Shared/BYUBase.cshtml";
}
<style>
    .error-area {
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
        height: 100%;
        min-height: 600px;
        background-image: url("@Url.Content("~/Core/Images/errorpage.png")");
        background-repeat: no-repeat;
        background-position: center top;
        color: white;
        padding-top: 50px;
        padding-left: 60px;
    }
</style>
<div class="error-area">
    <h1>Oops!</h1>
    <h3 style="padding-left: 20px;">Something's broken!<br/>Please check your URL or try again later.</h3>
</div>
