@{
    Layout = "~/Views/Shared/BYUBaseSideNav.cshtml";
    ViewBag.Title = "Test-sidenav";
    ViewBag.Nav = "test";
}

<div class="plugin-show-list" id="list-test" data-list="SCE Dev"></div>
<script>
    // Get the list items //
    var items = getListItems($(".plugin-show-list").attr("data-list"), function (value) {
        // Parse the list //
        var htmlStr = "";
        for (var i = 1; i < value.length; i++) {
            // Get the values for each property of a list item //
            for (property in value[i]) {
                if (value[i][property] != "") {
                    htmlStr += value[i][property] + "<br/>";
                }
            }
            htmlStr += "<br/>";
        }
        $(".plugin-show-list").html(htmlStr);
        $(".plugin-show-list").css("left", "25%");
    });
</script>
