﻿@{
    Layout = "~/Views/Shared/BYUBase.cshtml";
}
<script src="~/plugins/Subsite/Scripts/addSubsite.js"></script>
<script src="~/plugins/Subsite/Scripts/loadSubsites.js"></script>
<div class="container plugin-add-subsite"></div>
<script src="~/plugins/Subsite/Scripts/loadSubsites.js"></script>
<h1 class="container">Subsites</h1>
<div class="container plugin-subsites"></div>
